<div class="col-6">
  <div class="row">
    <mat-card class="col-4">
      <mat-card-title>
        Student 1
      </mat-card-title>
      <mat-card-content>
        Rewards here
      </mat-card-content>
    </mat-card>
    <mat-card class="col-8">
      <mat-card-content>
        <div class="row">
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">sync</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">sync</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon"></mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">sync</mat-icon>
        </div>
        <div class="row">
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star_outline</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star_outline</mat-icon>
          <mat-icon class="px-3" aria-hidden="false" aria-label="Example home icon">star_outline</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

