<div class="background" [ngStyle]="{background: 'url(./assets/background.jpg)'}">
  <div class="row">
    <!-- STUDENTS' DIV -->
    <div class="col-6">
      <div class="row pl-1" *ngFor="let student of studentData">
        <mat-card class="col-2 col-lg-4">
          <mat-card-title>
            {{student.name}}
          </mat-card-title>
          <mat-card-content>
            {{student.rewards}}
          </mat-card-content>
        </mat-card>
        <mat-card class="col-10 col-lg-8">
          <mat-card-content>
            <div class="row">
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Spin Checkpoint">refresh</mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Spin Checkpoint">refresh</mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Spin Checkpoint">refresh</mat-icon>
              <mat-icon class="px-3" style="width: 10%"  aria-hidden="false" aria-label="Space Filler"></mat-icon>
            </div>
            <div class="row">
              <app-toggle-star style="width: 10%" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" [toggled]="(i < student.stars)" (toggleChanged)="starToggled(i, student)"></app-toggle-star>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <input *ngIf="!studentData.length" class="mt-auto" type="file" name="File Browser" (change)="fileSelected($event.target.files[0])" #fileBrowser>
    </div>
    <!-- WHEEL DIV -->
    <!-- https://www.npmjs.com/package/ngx-wheel?activeTab=readme -->
    <div class="col-6">
      <div class="row">
        <ngx-wheel
          #wheel
          class="ml-auto mr-auto"
          width="600"
          height="600"
          spinDuration="8"
          [disableSpinOnClick]="true"
          [items]="items"
          [innerRadius]="10"
          [spinAmount]="10"
          pointerStrokeColor="red"
          pointerFillColor="red">
        </ngx-wheel>
      </div>
      <div class="row">
        <mat-icon style="font-size: 100px" class="ml-auto mr-auto" aria-hidden="false" (click)="spinWheel()">refresh</mat-icon>
      </div>
    </div>
  </div>
</div>
